<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".view.di.ToDoListApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.noti.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.calortracker.MealScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.calortracker.MealInfoActivity"
            android:exported="false" />

        <receiver android:name=".view.br.AlarmReceiver" />
        <receiver android:name=".view.br.OnCompletedBroadcastReceiver" />
        <receiver
            android:name=".view.br.RebootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.tracker.calortracker.FindMeal.FindMealActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.watertracker.waterHistory.WaterHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.watertracker.watercaculate.WaterCaculateActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.history.HistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.chat.ChatGPTActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.SleepTracker.SleepScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.chooseprogess.ChooseProgessActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.workout.doexercise.DoExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.register.DoneSingUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.calortracker.CalorieTrackerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.tracker.watertracker.WaterTrackerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.user.PersonDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.workout.FullBodyWorkout.FullBodyWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.workout.DayFullBody.DayFullBodyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.tracker.SleepTracker.SleepTrackerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.register.AfterSigUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.register.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.onboarding.OnBoardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>